APP_PORT=3000
CLEINT_URL=http://localhost:4200

DB_HOST=localhost
DB_PORT=5400
DB_USER=postgres
DB_PASS=postgres
DB_NAME=design_struct

API_AI_GEMINI_KEY=gemini-api-key
API_AI_CLAUDE_KEY=claude-api-key
API_AI_CHAT_GPT_KEY=gpt-api-key

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=emxaple@gmail.com
SMTP_PASSWORD=password-app-email


JWT_SECRET=super-secret-key
